.breadcrumbs {
  position: fixed;
  z-index: calc(var(--z-index-global-header) + 1);
  top: 0;
  left: 188px;
  height: 48px;
  display: flex;
  align-items: center;
  max-width: 50vw;
}
@media (max-width: 900px) {
  .breadcrumbs {
    max-width: 40vw;
  }
}
@media (max-width: 700px) {
  .breadcrumbs {
    display: none;
  }
}
.initial-breadcrumb {
  align-self: center;
}
