.logo {
  z-index: calc(var(--z-index-sidebar) + 2);
  display: flex;
  align-items: center;
  gap: 10px;
  height: 48px;
  cursor: pointer;
  padding-left: 8px;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 66px;
}
.logo > svg {
  width: 30px;
  height: 30px;
}
.logo-container {
  position: relative;
  display: flex;
  height: 30px;
  width: 110px;
}
.logo-container:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: var(--wb-white);
  transition: width 0.2s ease-in-out;
}
.logo:hover .logo-container:after {
  width: 100%;
}
.dark-logo .logo-container:after {
  background-color: var(--wb-grey-20);
}
.mbos path {
  fill: var(--wb-white);
  transition: all 0.3s ease-in-out;
}
.dark-logo .mbos path {
  fill: var(--wb-grey-20);
}
.portal-claim path {
  fill: var(--wb-blue-45);
}
